apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base
  - preprod-ns.yml

namespace: preprod
namePrefix: preprod-

configMapGenerator:
  - name: nginx
    envs:
      - nginx.env

images:
  - name: nginx
    newTag: "1.26"
  - name: php
    newTag: "8.2-fpm"

labels:
  - pairs:
      env: preprod
    includeSelectors: true

patches:
  - path: patch-nginx-deploy-replicas.yml
    target:
      kind: Deployment
      name: nginx
  - path: patch-nginx-deploy-annotations.yml
    target:
      kind: Deployment
      name: nginx
